<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084407790173-b543k1e0bl46i1h48ifck7pocmbglpmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084407790173-b543k1e0bl46i1h48ifck7pocmbglpmd</string>
	<key>API_KEY</key>
	<string>AIzaSyAfk3DKPxWUkvYh263UzN7wyaAe5sEr-JA</string>
	<key>GCM_SENDER_ID</key>
	<string>1084407790173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.empresa.LaricoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-620bc</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-620bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084407790173:ios:ddee3d454c40a8f224abb4</string>
</dict>
</plist>